* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7d2ae8;
    border-radius: 10px;
}

html,
body {
    margin: 0;
    height: 100%;
}

.not-log {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Places */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(235, 238, 240); */
}

.find-place {
    margin: 3em 0;
    height: 2em;
    font-size: 1.2em;
    padding: 0.2em 0.9em;
    width: 30%;
    border-style: none;
    background-color: #f8f8f8;
    border-radius: 0.5em 0 0 0.5em;
    caret-color: #7d2ae8;
    font-weight: 600;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.search-btn {
    background-color: #7c2ae8;
    border-radius: 0 0.5em 0.5em 0;
    display: flex;
    align-items: center;
    height: 2em;
    padding: 1.71em 1.35em;
    cursor: pointer;
    border-style: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.search-btn :hover {
    cursor: pointer;
}

.search-img,
.plus-img {
    filter: invert(1);
}

.place-container {
    overflow-y: scroll;
    display: flex;
}

.place-card-container {
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-inline: auto;
    position: relative;
}

.place-card {
    width: 29%;
    position: relative;
    margin-inline: 1.25em;
    margin-block: 0.8em;
    border-radius: 0.8em;
    overflow: hidden;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e4e3ec;
    overflow: hidden;
    width: 100%;
    height: 30%;
    transition: 0.5s ease;
    /* border-radius: 0.8em; */
}

.place-card:hover .overlay {
    height: 100%;
    border-radius: 0.8em;
    opacity: 0.8;
    background-color: #ffffffea;
    cursor: pointer;
}

.text {
    white-space: nowrap;
    color: black;
    font-weight: 700;
    font-size: 1.4em;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn-add {
    display: inline;
    /* border: 2px solid #7c2ae8; */
    background-color: #7c2ae8;
    position: absolute;
    padding: 0.9em;
    border-radius: 10em;
    display: flex;
    align-items: center;
    /* margin: auto; */
    bottom: 1.7em;
    right: 1.7em;
    z-index: 99999;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
