* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7d2ae8;
    border-radius: 10px;
}

html,
body {
    margin: 0;
    height: 100%;
    position: relative;
}

.not-log {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Places */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(235, 238, 240); */
}

.find-place {
    margin: 3em 0;
    height: 2em;
    font-size: 1.2em;
    padding: 0.2em 0.9em;
    width: 30%;
    border-style: none;
    background-color: #f8f8f8;
    border-radius: 0.5em 0 0 0.5em;
    caret-color: #7d2ae8;
    font-weight: 600;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.search-btn {
    background-color: #7c2ae8;
    border-radius: 0 0.5em 0.5em 0;
    display: flex;
    align-items: center;
    height: 2em;
    padding: 1.71em 1.35em;
    cursor: pointer;
    border-style: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.search-btn :hover {
    cursor: pointer;
}

.search-img,
.plus-img {
    filter: invert(1);
}

.place-container {
    overflow-y: scroll;
    display: flex;
    position: relative;
}

.place-card-container {
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-inline: auto;
    position: relative;
}

.place-card {
    width: 29%;
    position: relative;
    margin-inline: 1.25em;
    margin-block: 0.8em;
    border-radius: 0.8em;
    overflow: hidden;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e4e3ec;
    overflow: hidden;
    width: 100%;
    height: 30%;
    transition: 0.7s ease-out;
    display: flex;
    justify-content: flex-start;
    /* border-radius: 0.8em; */
}

.place-card:hover .overlay {
    height: 100%;
    border-radius: 0.8em;
    opacity: 0.8;
    background-color: #ffffffea;
    cursor: pointer;
}

.text {
    white-space: nowrap;
    color: black;
    font-weight: 700;
    font-size: 1.4em;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.discription {
    display: none;
}

.place-card:hover .text {
    top: 10%;
    transition: 0.5s ease;
}

.place-card:hover .discription {
    display: inline;
    left: 60%;
    top: 10%;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 0.4em;
}

.btn-add {
    display: inline;
    /* border: 2px solid black; */
    background-color: #7c2ae8;
    position: absolute;
    padding: 0.9em;
    border-radius: 10em;
    display: flex;
    align-items: center;
    /* margin: auto; */
    bottom: 1.7em;
    right: 1.7em;
    z-index: 99999;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn-add-rotated {
    rotate: 45deg;
    transition: 0.6s ease;
}

.popup_container {
    z-index: 11111;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.685);
    /* border: 2px solid black; */
    width: 100%;
    margin: auto;
}

.display_none {
    display: none;
    z-index: -111;
}

.popup_form {
    background-color: white;
    width: 50%;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.popup_form hr {
    width: 94%;
    margin: 0 auto;
    border: 1px solid black;
}

.popup_form h1 {
    margin: 0.3em auto;
    color: #7d2ae8;
}

.popup_form label {
    margin: 0.4em 0 0 0.2em;
    font-size: 1.4em;
    font-weight: 500;
}

.popup_form input,
.popup_form textarea {
    width: 92%;
    max-width: 92%;
    min-width: 92%;
    margin-top: 0.4em;
    font-size: 1.2em;
    padding: 0.6em 0.9em;
    outline: none;
    /* width: 30%; */
    border-style: none;
    background-color: #f8f8f8;
    border-radius: 0.5em;
    caret-color: #7d2ae8;
    font-weight: 200;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.popup_form textarea {
    max-height: 7em;
    min-height: 7em;
    font-size: 1.4em;
    font-weight: 500;
}

.place_img input {
    margin-top: 0.9em;
    height: 5em;
}

.btn-add-place {
    width: 50%;
    margin: 0 auto;
    margin-top: 1.4em;
    margin-bottom: 0.5em;
    border: none;
    background-color: #7c2ae8;
    padding: 0.6em 0.6em;
    border-radius: 0.4em;
    color: white;
    font-size: 1.4em;
    bottom: 1.7em;
    right: 1.7em;
    z-index: 99999;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
