.container {
    margin: 0;
    position: absolute;
    border-radius: 4px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    /* border: 2px solid black; */
    /* background-color: #f5ebf4; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    margin: 0 auto;
    margin-bottom: 1em;
}

form p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

form span {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5em auto;
}

.inp {
    caret-color: #7d2ae8;
    font-size: 1em;
    padding: 0.7em 1em;
    border-style: none;
    background-color: rgb(233, 233, 233);
    border-radius: 0.5em;
    width: 20rem;
    margin-bottom: 1rem;
}

.login,
.register {
    /* border: 2px solid black; */
    background-color: #7d2ae8;
    color: white;
    margin-inline: 1em;
    border-radius: 4px;
    padding: 0.4em 1em;
    font-weight: 500;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.register {
    background-color: #e4e3ec;
    color: black;
}
